@keyframes walk-across {
  0% {
    left: -300px;
  }
  100% {
    left: 100vw;
  }
}

.chicken-container {
  position: fixed;
  bottom: -170px;
  left: -200px; /* Start from outside the screen */
  width: 300px;
  height: 300px;
  animation: walk-across 10s linear infinite;
}
