@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jersey+15&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Rajdhani:wght@300;400;500;600;700&display=swap');

.countdown-timer {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background: #4CAF50;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    margin: 20px auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: #ffffff;
    color: #4CAF50;
    border-radius: 8px;
    width: 90px;
  }
  
  .countdown-number {
    font-size: 2.5rem;
  }
  
  .countdown-label {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  