.landing-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.landing-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 2;
}

.hidden {
  opacity: 0;
}

.landing-images {
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  pointer-events: none;
}

.countdown-timer {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5em;
  color: #fff;
  z-index: 10;
}

.presentation {
  position: absolute;
  top: 50%; /* Adjusted from something like 50% to move it lower */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* Assuming you want the text in white */
  z-index: 10; /* To ensure it's above other elements */
}

.presentation h1, .presentation h2, .presentation p, .presentation button {
  margin: 10px 0;
}

.presentation h2{
  font-size: 4rem;

}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.landing-text {
  position: fixed; /* Changed from absolute to fixed */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Align center */
  font-size: 3rem;
  color: #fff;
  text-align: center;
  z-index: 10; /* Ensure it's above other content */
}

.landing-container img#moon {
  mix-blend-mode: screen;
}


.landing-container img#comet {
  transform: translateX(-10rem);
}

.landing-container img#trees {
  z-index: 3;
}

.landing-container img#comet {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: comet 5s linear infinite;
  display: none;
  z-index: 4;
}

.theme-switch {
  --toggle-size: 30px;
  --container-width: 4.5rem;
  --container-height: 2.75rem;
  --container-radius: 6.25rem;
  --container-light-bg: #3d7eae;
  --container-night-bg: #1d1f2c;
  --circle-container-diameter: 1.375em;
  --sun-moon-diameter: 1.5rem;
  --sun-bg: #ecca2f;
  --moon-bg: #c4c9d1;
  --spot-color: #959db1;
  --circle-container-offset: calc(
    (var(--circle-container-diameter) - var(--container-height)) / 2 * -1
  );
  --stars-color: #fff;
  --clouds-color: #f3fdff;
  --back-clouds-color: #aacadf;
  --transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  --circle-transition: 0.3s cubic-bezier(0, -0.02, 0.35, 1.17);
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
  display: flex;
  align-items: center;
}
.theme-switch {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
  display: flex; 
  align-items: center;
}

.theme-switch,
.theme-switch *,
.theme-switch *::before,
.theme-switch *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--toggle-size);
}

.theme-switch__container {
  z-index: 1;
  width: var(--container-width);
  height: var(--container-height);
  background-color: var(--container-light-bg);
  border-radius: var(--container-radius);
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25),
    0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
  transition: var(--transition);
  position: relative;
  will-change: transform;
  display: flex;
  align-items: center;
}

.theme-switch__container::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset,
    0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset,
    0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--container-radius);
}

.theme-switch__checkbox {
  display: none;
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container {
  transform: translateX(25px);
}

.theme-switch__circle-container {
  z-index: 1;
  width: var(--circle-container-diameter);
  height: var(--circle-container-diameter);
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: var(--circle-container-offset);
  top: var(--circle-container-offset);
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
    inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
    0 0 0 0.625em rgba(255, 255, 255, 0.1),
    0 0 0 1.25em rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
    inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
    0 0 0 0.625em rgba(255, 255, 255, 0.1),
    0 0 0 1.25em rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline-block;
  transition: transform 0.3s ease;

  display: flex;
  -webkit-transition: var(--circle-transition);
  transition: var(--circle-transition);
  pointer-events: none;
}
.ecesa{
  height: 20rem;
}

.theme-switch__sun-moon-container {
  z-index: 1;
  pointer-events: auto;
  position: relative;
  width: var(--sun-moon-diameter);
  height: var(--sun-moon-diameter);
  margin: auto;
  border-radius: var(--container-radius);
  background-color: var(--sun-bg);
  box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset,
    0em -0.062em 0.062em 0em #a1872a inset;
  filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25))
    drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
  overflow: hidden;
  transition: var(--transition);
}

.theme-switch__moon {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translate3d(0, -100%, 0);  width: var(--sun-moon-diameter);
  height: var(--sun-moon-diameter);
  background-color: var(--moon-bg);
  border-radius: inherit;
  -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61)
      inset,
    0em -0.062em 0.062em 0em #969696 inset;
  box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset,
    0em -0.062em 0.062em 0em #969696 inset;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  position: absolute;
  top: 135%;
  left: 130%;
  will-change: transform;
}

.theme-switch__spot {
  z-index: 1;
  position: absolute;
  top: 0.75rem;
  left: 0.312rem;
  width: 0.55rem;
  height: 0.75rem;
  border-radius: var(--container-radius);
  background-color: var(--spot-color);
  box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
}

.theme-switch__spot:nth-child(1) {
  top: 15%;
  left: 35%;
}

.theme-switch__spot:nth-of-type(2) {
  z-index: 1;
  width: 0.175em;
  height: 0.175em;
  top: 60%;
  left: 75%;
}

.theme-switch__spot:nth-last-of-type(3) {
  z-index: 1;
  width: 0.25em;
  height: 0.25em;
  top: 10%;
  left: 50%;
}

.theme-switch__clouds {
  z-index: 1;
  width: 1.25em;
  height: 1.25em;
  background-color: var(--clouds-color);
  border-radius: var(--container-radius);
  position: absolute;
  bottom: -0.625em;
  left: 0.312em;
  -webkit-box-shadow: 0.937em 0.312em var(--clouds-color),
    -0.312em -0.312em var(--back-clouds-color),
    1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color),
    2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color),
    2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color),
    3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color),
    4.5em -0.312em var(--clouds-color),
    3.375em -0.437em var(--back-clouds-color),
    4.625em -1.75em 0 0.437em var(--clouds-color),
    4em -0.625em var(--back-clouds-color),
    4.125em -2.125em 0 0.437em var(--back-clouds-color);
  box-shadow: 0.937em 0.312em var(--clouds-color),
    -0.312em -0.312em var(--back-clouds-color),
    1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color),
    2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color),
    2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color),
    3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color),
    4.5em -0.312em var(--clouds-color),
    3.375em -0.437em var(--back-clouds-color),
    4.625em -1.75em 0 0.437em var(--clouds-color),
    4em -0.625em var(--back-clouds-color),
    4.125em -2.125em 0 0.437em var(--back-clouds-color);
  -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
}

.theme-switch__stars-container {
  z-index: 1;
  position: absolute;
  color: var(--stars-color);
  top: -100%;
  left: 0.312em;
  width: 2.5em;
  height: auto;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  will-change: transform;
}

.theme-switch__checkbox:checked + .theme-switch__container {
  background-color: var(--container-night-bg);
}

.theme-switch__checkbox:checked
  + .theme-switch__container
  .theme-switch__circle-container {
  z-index: 1;
  left: calc(
    100% - var(--circle-container-offset) - var(--circle-container-diameter)
  );
}

.theme-switch__checkbox:checked
  + .theme-switch__container
  .theme-switch__circle-container:hover {
  left: calc(
    100% - var(--circle-container-offset) - var(--circle-container-diameter) -
      0.187em
  );
}

.theme-switch__circle-container:hover {
  z-index: 1;
  left: calc(var(--circle-container-offset) + 0.187em);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__moon {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(-2rem, -2rem);
  z-index: 1;
}

.theme-switch__checkbox:checked
  + .theme-switch__container
  .theme-switch__clouds {
  z-index: 1;
  bottom: -4.062em;
}

.theme-switch__checkbox:checked
  + .theme-switch__container
  .theme-switch__stars-container {
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .landing-container img#moon, .landing-container img#comet {
    width: 15vw; /* Slightly larger in smaller devices for visibility */
  }
  /* Additional styling for different positions or effects on scroll */
  .landing-container img {
    transition: transform 0.5s ease; /* Smooth transition for transform effects */
  }
  
  /* Ensuring text and buttons are visible and appropriately sized on smaller screens */
  .presentation {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
  
  .presentation h2 {
    font-size: 1.5rem; /* Larger text for headline */
  }
  
  .presentation button {
    padding: 10px 20px; /* Smaller padding on smaller screens */
    font-size: 16px; /* Slightly smaller font size */
  }
}


@media (max-width: 768px) {
  .landing-images {
    transition: transform 0.3s ease-out; /* Faster transition for smoother effect */
  }

  /* Adjusting scroll transformations for small screens */
  .landing-images#moon, .landing-images#comet {
    transform: translateY(var(--scroll-transform-y)); /* Variable set in JavaScript based on scroll */
  }

  .landing-images#trees, .landing-images#clouds, .landing-images#farm {
    transform: translateY(calc(var(--scroll-transform-y) * 0.5)); /* Slower movement for background elements */
  }
}