.container {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 100px;
}

.container h2 {
  font-size: 3rem;
  margin-bottom: 50px;
}

.cards-container {
  position: relative;
  perspective: 800px;
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  transform: translateX(-160px);
}

.card {
  position: absolute;
  height: 450px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background: #fff;
  transition: transform 1s ease-out, opacity 0.5s ease-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform-origin: bottom center;
  color: white;
  transform: scale(0.75);
  opacity: 0.5;
}

.card.active {
  transform: translate(calc(var(--index) * 350px - 50%), 0) scale(1);
  opacity: 1;
}

.first,
.second,
.third {
  background: linear-gradient(135deg, #ff6b6b, #ff8787);
}

.second {
  background: linear-gradient(135deg, #a8e063, #56ab2f);
}

.third {
  background: linear-gradient(135deg, #4e54c8, #8f94fb);
}

.amount {
  font-size: 3.5rem;
  font-weight: bold;
}

.rank {
  font-size: 3rem;
}

.position {
  font-size: 2rem;
  align-self: flex-end;
}

.first {
  width: 400px;
}

.second {
  width: 350px;
  margin-right: 200px;
}

.third {
  width: 300px;
}

@media (max-width: 1024px) {
  .cards-container {
    max-width: 600px;
    transform: translateX(-50px);
  }

  .card {
    width: 240px;
    height: 350px;
  }

  .card.active {
    transform: translate(calc(var(--index) * 250px - 50px), 0) scale(1);
  }

  .amount,
  .rank,
  .position {
    font-size: 2.3rem;
  }

  .position {
    font-size: 1.8rem;
  }

  .second {
    margin-right: 100px;
  }
}

@media (max-width: 768px) {
  .cards-container {
    max-width: 100%;
    height: auto;
    transform: translateX(0px);
  }

  .card {
    width: 200px;
    height: 300px;
  }

  .card.active {
    transform: translate(calc(var(--index) * 200px), 0) scale(1);
  }

  .amount,
  .rank,
  .position {
    font-size: 1.8rem;
  }

  .position {
    font-size: 1.5rem;
  }

  .second {
    margin-right: 50px;
  }
}

@media (max-width: 480px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
    transform: none;
  }

  .card {
    position: static;
    width: 90%;
    margin-bottom: 20px;
    transform: none;
  }

  .card.active {
    transform: none;
  }

  .amount,
  .rank,
  .position {
    font-size: 1.5rem;
  }

  .position {
    font-size: 1.2rem;
  }
}