

.container {
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 100px;
}

.cards-container {
  position: absolute;
  transform: translate(-50%, -50%);
  perspective: 800px;
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  margin-bottom: 400px;
}

.card {
  position: absolute;
  width: 250px;
  height: 450px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  color: white;
  transition: transform 0.5s ease;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.amount {
  font-size: 3.5rem;
  font-weight: bold;
}

.rank {
  font-size: 2rem;
}

.position {
  font-size: 4rem;
  align-self: flex-end;
}

.first {
  background: linear-gradient(135deg, #ff6b6b, #ff8787);
  z-index: 4;
}

.second {
  background: linear-gradient(135deg, #a8e063, #56ab2f);
  z-index: 3;
}

.third {
  background: white;
  color: #333;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.fourth {
  background: linear-gradient(135deg, #4e54c8, #8f94fb);
  z-index: 1;
}

