.sponsor-heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.sponsor-scroll {
  display: flex;
  white-space: nowrap;
  animation: scroll-right-to-left 20s linear infinite;
}

.sponsor-scroll.left-to-right {
  animation: scroll-left-to-right 20s linear infinite;
}

.sponsor-logo {
  flex: 0 0 auto;
  width: 200px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 40px 0px;
}

.sponsor-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sponsor-logo img {
  max-width: 100%;
  height: auto;
}

@keyframes scroll-right-to-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scroll-left-to-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}
