@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jersey+15&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Rajdhani:wght@300;400;500;600;700&display=swap');

html, body {
  font-family: 'Kanit', sans-serif !important;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #a8ff00;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.App {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.header {
  text-align: center;
  padding: 50px 20px;
  background-color: #4CAF50;
  color: white;
}

.header h1 {
  margin: 0;
  font-size: 2em;
}

.header h2 {
  margin: 10px 0 20px;
  font-size: 2em;
}

.register-button {
  padding: 10px 20px;
  font-size: 1.2em;
  color: #4CAF50;
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.registration-closes {
  margin-top: 20px;
}

.countdown-timer {
  font-size: 1.5em;
}

.about, .theme, .timeline, .prizes, .rules, .sponsors {
  padding: 20px;
  text-align: center;
}

.about h2, .theme h2, .timeline h2, .prizes h2, .rules h2, .sponsors h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

/* Scoped styles for the landing page */
.landing-section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.landing-section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 15;
}

.landing-section img {
  transition: opacity 0.5s ease-in-out;
}

.landing-section .hidden {
  opacity: 0;
}

.landing-section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  overflow: hidden;
}

.landing-section img#moon {
  mix-blend-mode: screen;
  margin-top: 10rem;
}

.landing-section img#trees {
  z-index: 10;
}

.landing-sec {
  position: relative;
  padding: 100px;
  background: #1c0522;
}

.landing-sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}

.landing-sec p {
  font-size: 1.2em;
  color: #fff;
}

#comet {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: comet 5s linear infinite;
  display: none;
}